

body{
background:#0b1120;
color:white;
}

.services{
padding:70px 8%;
background:#0b1120;
color:white;
}

.title{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card{
background:#1f2937;
padding:30px;
border-radius:15px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:#08e2f2;
}

.card h2{
margin-bottom:15px;
}

.card p{
line-height:28px;
color:#ddd;
}

.process{
padding:70px 8%;
background:#111827;
color:white;
}

.steps{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:40px;
}

.step{
width:180px;
text-align:center;
margin:20px;
}

.circle{
width:70px;
height:70px;
border-radius:50%;
background:#08e2f2;
margin:auto;
line-height:70px;
font-size:28px;
font-weight:bold;
}

.tech{
padding:70px 8%;
background:#0b1120;
color:white;
}

.techBox{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.techBox span{
padding:15px 25px;
background:#1f2937;
border-radius:30px;
}

.cta{
padding:80px;
text-align:center;
background:linear-gradient(135deg,#08e2f2,#08e2f2);
}

.cta h2{
font-size:40px;
margin-bottom:20px;
}

.cta button{
margin-top:20px;
padding:15px 35px;
border:none;
border-radius:30px;
background:white;
font-size:17px;
cursor:pointer;
}

.footer{
background:#111827;
padding:30px;
text-align:center;
color:#bbb;
}

@media(max-width:768px){

.title{
font-size:32px;
}

.steps{
justify-content:center;
}

}